.cat-list {
  list-style: none;
  li.selected a {
    font-style: italic;
    &::after {
      font-style: italic;
      content: "*"
    }
  }
  .subcat-list {
    list-style: none;
  }
}

.genlink {
  list-style: none;
  a {
    font-size: 0.8em;
    color: #999999;
  }

}